<body>
    <div class="content">
      <div class="text">Forgot Password</div>
      <form>
        <div class="field">
         
          <input
            type="email"
            placeholder="Enter Your Email"
            required
            name="email"
            required
          />
          <small>Email is required</small>
          <!-- <button type="submit" >Submit</button> -->
        </div>
        
        <button type="submit" >Submit</button>
       
      </form>
    </div>
  </body>