<body>
    <div class="content">
      <div class="text">Forgot Password</div>
      <form>
        <div class="field">
         
          <input
            type="email"
            placeholder="Enter Your Email"
            required
            name="email"
            #email="ngModel"
            ngModel
            required
          />
          <small
            class="text-danger"
            [class.d-none]="email.valid || email.untouched"
            >Email is required</small
          >
        </div>
        
  
       
      </form>
    </div>
  </body>