<body>
    <div class="content">
      <div class="text">Forgot Password</div>
      <form>
        <div class="field">
         
          <input
            type="usernsme"
            placeholder="Use username"
            required
            name="username"
            required
          />
          <small>Username Required </small>
          <!-- <button type="submit" >Submit</button> -->
        </div>
        
        <button  routerLink ="/signup" type="submit" >Submit</button>
       
      </form>
    </div>
  </body>