<div class="topnav">
    <a
      href="#"
      class="left-sidebar-toggle p0 ai-center jc-center js-left-sidebar-toggle"
      role="menuitem"
      aria-haspopup="true"
      aria-controls="left-sidebar"
      aria-expanded="false"
      ><span class="ps-relative"></span
    ></a>
    <a
      href="https://stackoverflow.com"
      class="-logo js-gps-track"
      data-gps-track="top_nav.click({is_current:true, location:1, destination:8})"
    >
      <span class="-img _glyph">Stack Overflow</span>
    </a>
    <a class="#Products" href="#Products">Products</a>
    <a href="#about">About</a>
    <a href="#For teams">For teams</a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search" />
        <button  routerLink ="/signup" type="submit">Signup</button>
        <!-- <input routerLink ="/login" routerLinkActive="active" type="button" value="Login"> -->
        <button  routerLink ="/login" routerLinkActive="active" type="submit">Login</button>
        
      </form>
    </div>
  </div>