
<div class="topnav">
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <a
    href="https://stackoverflow.com"
    class="-logo js-gps-track"
    data-gps-track="top_nav.click({is_current:true, location:1, destination:8})"
  >
    <span class="-img _glyph">Stack Overflow</span>
  </a>
  <a class="Questions" routerLink="/questions">Questions</a>
  <a router="#Tags" routerLink="/tags" >Tags</a>
  <a href="#Users">Users</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search" />
      <button routerLink="/signup" type="submit">Signup</button>
      <!-- <input routerLink ="/login" routerLinkActive="active" type="button" value="Login"> -->
      <button routerLink="/login" routerLinkActive="active" type="submit">
        Login
      </button>
    </form>
  </div>
</div>

