<div class="container">
  <h1>Tags</h1>
  <p>
    A tag is a keyword or label that categorizes your question with other,
    similar questions. Using the right tags makes it easier for others to find
    and answer your question.
  </p>

  
  
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search" />
      <button routerLink="/signup" type="submit">Signup</button>
      <button routerLink="/signup" type="submit">Signup</button>
      <!-- <input routerLink ="/login" routerLinkActive="active" type="button" value="Login"> -->
      <button routerLink="/login" routerLinkActive="active" type="submit">
        Login
      </button>
    </form><br><br>
    <div class="components">
        <fieldset>
         <a href="#Html">html</a>
         
        </fieldset>
       </div>
  </div>
</div>
