<div class="container d-flex flex-row ">
  <div class="card d-flex flex-row clo-3 mr-3 mt-3">
    
    <a routerLink="/html">html </a>
    <br>
    
    <p>For questions regarding programming in ECMAScript (JavaScript/JS)
       and its various dialects/implementations (excluding ActionScript). 
       Please include</p>
    
  </div>
  <div class="card d-flex flex-row clo-3  mr-3 mt-3">
    <a routerLink="/html">html </a>
    <p>For questions regarding programming in ECMAScript (JavaScript/JS)
      and its various dialects/implementations (excluding ActionScript). 
      Please include</p>
   
  </div>
  <div class="card d-flex flex-row clo-3 mr-3 mt-3">
    <a routerLink="/html">html </a>
    <p>For questions regarding programming in ECMAScript (JavaScript/JS)
      and its various dialects/implementations (excluding ActionScript). 
      Please include</p>
   
  </div>
  <div class="card d-flex flex-row clo-3  mr-3 mt-3">
    <a routerLink="/html">html </a>
    <p>For questions regarding programming in ECMAScript (JavaScript/JS)
      and its various dialects/implementations (excluding ActionScript). 
      Please include</p>
   
  </div>
   <!-- <div class="card d-flex flex-row clo-3  mr-3 mt-3">
    <a routerLink="/html">html </a>
    <p>For questions regarding programming in ECMAScript (JavaScript/JS)
      and its various dialects/implementations (excluding ActionScript). 
      Please include</p>
   
  </div>
  
  <div class="card d-flex flex-row clo-3">
    <a routerLink="/html">html </a>
    <p>For questions regarding programming in ECMAScript (JavaScript/JS)
      and its various dialects/implementations (excluding ActionScript). 
      Please include</p>
   
  </div> --> -->
  
  </div>